---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
  description:
    "Discover NABI's mission and how our multidisciplinary community advances brain research at Seoul National University.",
};
---

<Layout metadata={metadata}>
  <!-- Content Widget **************** -->
  <Content
    isReversed
    tagline="About NABI"
    title="Natural and Artificial Brain Intelligence"
    items={[
      {
        title: 'Based in Seoul National University, College of Medicine',
        description:
          'NABI is a research group which aims to translate clinical experience into insights through computational neuroscience. We also aim to leverage real-life data to advance our understanding of the human brain. Ultimately, we aim to develop computational models that can be leveraged in clinical or other real-life applications.',
      },
      {
        title: 'Focused on the latest topics in deep learning, computational neuroscience, and reinforcement learning',
        description:
          'We analyze papers and implement code on the latest topics from prominent journals and conferences in deep learning, computational neuroscience, and reinforcement learning.',
      },
      {
        title: 'A multidisciplinary community',
        description:
          'Students from various fields, including medicine, biology, and computer science, come together to develop interdisciplinary skills. We hold an end-of-year symposium and a presentation at Seoul National University Hospital so various members can present their research and hold discussions with peers from various fields.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Features2 Widget -->
  <Features2
    title="Key Papers reviewed at NeuroAI"
    subtitle="Groundbreaking studies at the intersection of neuroscience and artificial intelligence"
    tagline="Research Highlights"
    items={[
      {
        title: 'Could a neuroscientist understand a microprocessor?',
        description:
          'Neuroscience techniques, when applied to a microprocessor demonstrate even human-designed systems may be difficult to understand.',
        icon: 'tabler:cpu',
        href: 'https://doi.org/10.1371/journal.pcbi.1005268',
      },
      {
        title: 'Meta-reinforcement learning via orbitofrontal cortex',
        description:
          'The hypothesis that the OFC (orbitofrontal cortex) plays a role in meta-reinforcement learning is proposed, and two distinct algorithms with distinct timescales are proposed.',
        icon: 'tabler:brain',
        href: 'https://doi.org/10.1038/s41593-023-01485-3',
      },
      {
        title: 'Transformer as a hippocampal memory model',
        description:
          'Based on NMDAR nonlinearity, a circuit model of memory consolidation is proposed, establishing a link between the hippocampus and the transformer architecture.',
        icon: 'tabler:circuit-diode',
        href: 'https://proceedings.neurips.cc/paper_files/paper/2023/file/2f1eb4c897e63870eee9a0a0f7a10332-Paper-Conference.pdf',
      },
      {
        title: 'Prefrontal cortex as a meta-reinforcement learning system',
        description:
          'The prefrontal cortex operates as a flexible free-standing system through a process of meta-reinforcement learning.',
        icon: 'tabler:device-analytics',
        href: 'https://doi.org/10.1038/s41593-018-0147-8',
      },
      {
        title: 'Human cognition and neuromodulatory integration',
        description:
          'By identifying the signatures of system-wide neuromodulatory integration, we advance our knowledge the functional organization of the human brain.',
        icon: 'tabler:math-integral-x',
        href: 'https://doi.org/10.1038/s41593-018-0312-0',
      },
      {
        title: 'Scaffolding cooperation with deep RL',
        description:
          'A novel AI-driven social planner dynamically reshapes human interaction networks to promote cooperation by welcoming defectors into collaborative groups rather than isolating them.',
        icon: 'tabler:users-group',
        href: 'https://doi.org/10.1038/s41562-023-01686-7',
      },
      {
        title: 'A recurrent planning model explains hippocampal replay',
        description:
          'A recurrent neural network model demonstrates how the prefrontal cortex orchestrates planning by sampling imagined action sequences, termed rollouts.',
        icon: 'tabler:repeat',
        href: 'https://doi.org/10.1038/s41593-024-01675-7',
      },
      {
        title: 'Brain-wide behavior representations in C. elegans',
        description:
          'Whole-brain calcium imaging and probabilistic modeling is used to map how distinct neuron classes in C. elegans encode behavior across various states and timescales.',
        icon: 'tabler:microscope',
        href: 'https://doi.org/10.1016/j.cell.2023.07.035',
      },
      {
        title: 'Emergence of syntax in a cerebellar circuit',
        description:
          'A biologically-constrained artificial neural network modeled after cerebellar circuity demonstrates a single recurrent circuit can perform word prediction and syntactic structure recognition',
        icon: 'tabler:language',
        href: 'https://doi.org/10.1038/s41467-024-44801-6',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Read more about our research"
    information={`Research notes from our monthly meetings
                  `}
  />
</Layout>
