---
import type { MarkdownHeading } from 'astro';
import '~/assets/styles/table-of-contents.css';

export interface Props {
  title?: string;
  headings: MarkdownHeading[] | undefined;
}
const { headings = [] } = Astro.props;
---

<div class="px-4 sm:px-6 max-w-3xl mx-auto mt-4 text-sm">
  <div class="max-h-[48vh] overflow-y-auto py-2 px-3">
    <ul id="toc-list" class="space-y-2">
      {
        headings?.map((heading, idx) => (
          <li class={`relative ml-${(heading.depth - 2) * 4}`}>
            <a
              href={`#${heading.slug}`}
              class="toc-link block pl-3 hover:underline transition-colors"
              data-toc-idx={idx}
            >
              {heading.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<script src="../../utils/table-of-contents.ts"></script>  