---
import '~/styles/base.css';
import 'katex/dist/katex.min.css';

import { ClientRouter } from 'astro:transitions';
import { I18N } from 'astrowind:config';

import type { MetaData as MetaDataType } from '~/types';

import Analytics from '~/components/common/Analytics.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import BreadcrumbsJsonLd from '~/components/common/BreadcrumbsJsonLd.astro';
import CommonMeta from '~/components/common/CommonMeta.astro';
import CustomStyles from '~/components/common/CustomStyles.astro';
import Favicons from '~/components/common/Favicons.astro';
import Metadata from '~/components/common/Metadata.astro';
import OrganizationJsonLd from '~/components/common/OrganizationJsonLd.astro';
import SiteVerification from '~/components/common/SiteVerification.astro';

// Comment the line below to disable View Transitions

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <BreadcrumbsJsonLd />
    <OrganizationJsonLd />
    <SiteVerification />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <Analytics />

    <!-- Comment the line below to disable View Transitions -->
    <ClientRouter fallback="swap" />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />
    <BasicScripts />
  </body>
</html>
